<div class="container">

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title" style="text-align: center"><%= @user.email %>'s Description</h3>
  </div>
  <div class="center" style="text-align: center">
  	<%= gravatar_for @user %>
  </div>
  <div class="panel-body" style="text-align: center">
    <%= @user.description %>
  </div>
</div>


	<div class="container">
		<table class="table">
				<tr>
					<th>Post Title</th>
					<th>Content</th>
					<th>Creating Time</th>
					<th>Status</th>
				</tr>
			<% @user.posts.each do |post| %>
				<tr>
					<td>
						<h3><%= link_to "#{post.title}", post_path(post) %></h3>
					</td>
					<td><p><%= post.content %></p></td>
					<td><%= post.created_at %></td>
					<td>
						<% if post.is_public %>
							Public
						<% else %>
							Draft
						<% end %>
					</td>
				</tr>
			<% end  %>
		</table>
	</div>
<h2>Your replies</h2>
	<div class="container">
		<table class="table">
				<tr>
					<th>Content</th>
					<th>In reply to</th>
					<th>Creating Time</th>
					<th>Status</th>
				</tr>
			<% @comments.each do |comment| %>
				<tr>
					<td>
						<h3><%= link_to "#{comment.content}", post_path(comment.post_id) %></h3>
					</td>
					<td><%= comment.post.title %></td>
					<td><%= comment.created_at %></td>
					<td><% if comment.is_public %>
							Published
						<% else %>
							Draft
						<% end %>
					</td>
				</tr>
			<% end  %>
		</table>
	</div>
</div>