<div class="container">
	<h1>Admin page</h1>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Edit Categories</h3>
	  </div>
	  <div class="panel-body">
		<table class="table">
		    <% @categories.each do |category| %>
				<tr>
					<td><%= category.name %></td>
					<td><%= link_to "Edit", admin_posts_path(:id => category.id) %></td>
					<td>
						<% unless category.posts.exists?  %>
							<%= link_to "Delete", admin_category_path(category), method: :delete %>
						<% end %>
							
					</td>
				</tr>
		    <% end %>
		</table>
		<% if @category.id %>
			<%= form_for @category, url: admin_category_path(@category), method: :patch do |f| %>
				<%= f.text_field :name %>
				<%= f.submit "Edit Category" %>
			<% end %>
		<% else %>
		    <%= form_for @category, url: admin_categories_path do |f| %>
				<%= f.text_field :name %>
				<%= f.submit "Create Category"%>
		    <% end %>
		<% end %>
	  </div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Users panel</h3>
		</div>
	  
		<div class="panel-body">
			<table class="table">
				<tr>
					<th>User</th>
					<th>User's profile</th>
					<th>User's role</th>
				</tr>
				<% @users.each do |user| %>
					<tr>
						<th><%= user.email %></th>
						<th><%= link_to "User's profile", edit_admin_user_path(user) %></th>
						<th><%= user.role %></th>
					</tr>
				<% end %>
			</table>
			
		</div>
	</div>


	</div>
</div>