<%= form_for @post, url: post_path(@post), method: :patch do |f| %>
	<div class="form-group">
				<%= f.label :title %>
				<%= f.text_field :title, class: "form-control"%>
			</div>
			
			<div class="form-group", rows="5">
				<%= f.label :content %>
				<%= f.text_area :content, class: "form-control", rows: "5" %>
			</div>
				
			<div class="form-group">
			 	<%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
			 </div>
			
			<div class="form-group">
				<%= f.label :is_public, "Drafting" %>
				<%= f.check_box :is_public, {}, false, true%>
			</div>

			<%= f.submit "Publish" %>
<% end  %>
<%= link_to "Cancel", post_path(@post) %>