<div class="container">	
	<h1>Forum</h1>
	<%= Time.now %>
	<table class="table">
		<tr>
			<th>Post</th>
			<th>Creator</th>
			<th>Posting time</th>
			<th>Categories</th>
			<th><%= link_to "Last Comment", posts_path(:order => "last_comment") %></th>
			<th><%= link_to "Number of Comments", posts_path(:order => "no_of_comments") %></th>
		</tr>
		<tbody>
			<% @posts.each do |post| %>
			<tr>
				<td><%= link_to "#{post.title}", post_path(post) %></td>
				<td><%= post.user.email %></td>
				<td><%= time_ago_in_words(post.created_at) %></td>
				<td><%= post.categories.pluck(:name).join(" ") %></td>
				<% if params[:order] == "last_comment" %>
					<td><%= post.comments.first.try(:created_at) %></td>
				<% else  %>
					<td><%= post.comments.last.try(:created_at) %></td>
				<% end %>
 				<td><%= post.comments.count %></td>
			</tr>
			<% end %>
		</tbody>	



	</table>
	<% if user_signed_in? %>
		<%= link_to "New Post", new_post_path, class: "btn btn-default" %>
	<% end %>

</div>