
<div id="main" class="container">	
<%= link_to "Admin", admin_posts_path %>

	<%= Time.now %>
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><%= link_to "All", posts_path %></li>
	  <li role="presentation" ><%= link_to "Science", posts_path(:sort => "science") %></li>
	  <li role="presentation"><%= link_to "Sports", posts_path(:sort => "sports") %></li>
	  <li role="presentation"><%= link_to "Music", posts_path(:sort => "music") %></li>
	  <li role="presentation"><%= link_to "Current Affairs", posts_path(:sort => "current_affair") %></li>
	</ul>
	<table class="table">
		<tr>
			<% if current_user && current_user.role == 'admin' %>
				<th></th>
			<% end %>
			<th>Post</th>
			<th>Creator</th>
			<th>Posting time</th>
			<th>Categories</th>
			<th><%= link_to "Last Comment", posts_path(:order => "last_comment") %></th>
			<th><%= link_to "Number of Comments", posts_path(:order => "no_of_comments") %> / <%= link_to "Number of views", posts_path(:order => "no_of_views") %></th>
			<th>Bookmark</th>
		</tr>
		<tbody>
			
				<%= form_tag bulk_update_posts_path do %>
					<% @posts.each do |post| %>
						<tr>
						<% if current_user && current_user.role == 'admin' %>
							<td><%= check_box_tag "ids[]", post.id, false %></td>
						<% end  %>
							<td><%= link_to "#{post.title}", post_path(post) %></td>
							<td><%= post.user.email %></td>
							<td><%= time_ago_in_words(post.created_at) %></td>
							<td><%= post.categories.pluck(:name).join(" ") %></td>
							<% if params[:order] == "last_comment" %>
								<td><%= post.comments.first.try(:created_at) %></td>
							<% else  %>
								<td><%= post.comments.last.try(:created_at) %></td>
							<% end %>
			 				<td><%= post.comments.count %> / <%= post.viewcount %></td>
			 				<td>
			 				<% if current_user %>
			 					<% if current_user.bookmark_posts.include?(post) %>
			 						<%= link_to "Remove Bookmark", post_bookmark_path(post, current_user.bookmarks.find_by_post_id(post)), method: :delete %>
			 					<% else %>
			 						<%= link_to "Bookmark", post_bookmarks_path(post, :user_id => current_user.id), method: :post %>
			 					<% end %>
							<% end %>
			 				</td>
						</tr>
					<% end %>
					<%= submit_tag "Delete selected posts", class: "btn btn-danger" %>
				
			
			<% end %>
		</tbody>	



	</table>
	<% if user_signed_in? %>
		<%= link_to "New Post", new_post_path, class: "btn btn-default" %>
	<% end %>

</div>