<div class="container">
	<h1><%= @post.title %> by <%= @post.user.email %></h1>

	<p><%= @post.content %></p>
	<p><%= @post.viewcount %></p>

	<% @comments.each do |comment| %>
		<div class="container reply">
			<%= comment.content %>
			<%= comment.user.email %>
			<%= comment.updated_at %>

			<% if current_user.id == comment.user_id %>
				<%= link_to "delete", post_comment_path(@post, comment), method: :delete %>
				<%= link_to "edit", edit_post_comment_path(@post, comment) %>
			<% end %>
		</div>
	<% end %>


	<h3>Reply</h3>
	<%= form_for @comment, :url => post_comments_path(@post) do |f| %>
		<div class="form-group">
			<%= f.text_area :content, class: "form-control"%>
			<%= f.label :is_public, "Draft status" %>
			<%= f.check_box :is_public, {}, false, true %>
			<br>
			<%= f.submit "Reply", class: "btn btn-default"%>
		</div>
	<% end %>
	
	<% if current_user.id == @post.user_id %>
		<%= link_to "Edit", edit_post_path(@post), class: 'btn btn-default' %> 
		<%= link_to "Delete", post_path(@post), method: :delete, class: "btn btn-danger" %>
	<%end  %>

	<%= link_to "Home", posts_path %>
</div>