<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <%= render :partial => 'posts/nav' %>
  
  <%if flash[:notice]  %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <%elsif flash[:notice]  %>
    <div class="alert alert-warning"> 
      <%= flash[:alert] %>
    </div>
  <%end  %>

    <%= yield %>
  </body>
</html>
